
<ion-card >
  <ion-img (click)="abrirNoticia()" *ngIf="noticia.urlToImage" [src]="noticia.urlToImage">
  </ion-img>
  
  <ion-card-header (click)="abrirNoticia()">
    <ion-card-title >{{noticia.title}}</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <p (click)="abrirNoticia()">
      {{noticia.description}}
    </p>
    <ion-toolbar>
      <ion-card-subtitle color="dark" (click)="abrirNoticia()">
        {{noticia.source.name}}
      </ion-card-subtitle>
      <ion-buttons slot="secondary">
        <ion-button (click)="darFav()">
          <ion-icon *ngIf="this.enfav" slot="icon-only" name="trash"></ion-icon>
          <ion-icon *ngIf="!this.enfav" slot="icon-only" [name]="fav ? 'heart': 'heart-outline'" [color]="fav ? 'danger' : 'dark'"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button (click)="compartir()">
          <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>