<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides mode="ios" pager="ios" scrollbar="ios" *ngIf="dataLocalService.noticias.length === 0">
    <ion-slide>
      <ion-label>You don't have any favorites. Please push the heart</ion-label>
    </ion-slide>
  </ion-slides>
  

  <app-noticias [noticias]="dataLocalService.noticias" *ngIf="dataLocalService.noticias.length > 0" [enfav]="true"></app-noticias>

</ion-content>
