<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides mode="ios" pager="ios" scrollbar="ios" *ngIf="dataLocalService.noticias.length === 0">
    <ion-slide>
      <ion-label>Todavia no tienes ningún favorito, dale al corazón</ion-label>
    </ion-slide>
  </ion-slides>
  

  <app-noticias [noticias]="dataLocalService.noticias" *ngIf="dataLocalService.noticias.length > 0"></app-noticias>

</ion-content>
